#time {
	text-align: center;

	/* Put a font and font size here */
	font-size: 22px;
}

/* Background image edits */
body {
        background-image: url("1.jpg");
		background-size: cover;
		align-self: center;
} 

img.center {
    display: block;
    margin: 0 auto;
}
/* ------------------------------------------------------- */