<<<<<<< HEAD
div {
    body{
    background-color: #FFC773;
}
p {
  text-align: center;
  font-size: 50px;
}
form {
    text-align: center;
    
}
#buttons {
    text-align: center;
}
=======
#time {
    text-align: center;
    /* Put a font and font size here*/

}

/* The following code is for the animation of the clock */
>>>>>>> 0f79e94bbead15fba7f0705fa5d99478db3f820b
@keyframes rotate
{
		100% {transform: rotate(360deg);}
}
#second-hand
{
<<<<<<< HEAD
	background-color: #E7734C;
=======
	background-color: white;
>>>>>>> 0f79e94bbead15fba7f0705fa5d99478db3f820b
	height: 200px;
	width: 3px;
	position: relative;
	margin: auto;
	top: 5px;
	animation-name: rotate;
	animation-duration: 60s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-play-state: paused;
}
#second-hand-top-part
{
<<<<<<< HEAD
	background-color: #FFC773;
=======
	background-color: black;
>>>>>>> 0f79e94bbead15fba7f0705fa5d99478db3f820b
	position: relative;
	margin: auto;
	height: 100px;
	width: 3px;
}
#clock
{
	position: relative;
	margin: auto;
	height: 220px;
	width: 220px;
<<<<<<< HEAD
	border: 5px solid  #D56F1D;
=======
	border: 5px solid black;
>>>>>>> 0f79e94bbead15fba7f0705fa5d99478db3f820b
	border-radius: 100%;
}
#clock-container
{
    position: relative;
    top: 80px;
<<<<<<< HEAD
}
=======
}
/* ------------------------------------------------------- */
>>>>>>> 0f79e94bbead15fba7f0705fa5d99478db3f820b
